---
# Self-signed TLS certificate for Keycloak
# Required for k8s API server OIDC authentication
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-tls
  namespace: {{ keycloak_namespace | default('keycloak') }}
type: kubernetes.io/tls
data:
  tls.crt: {{ keycloak_tls_cert_b64 }}
  tls.key: {{ keycloak_tls_key_b64 }}
