---
# Custom CoreDNS configuration for k3s
# This ConfigMap is automatically loaded by k3s CoreDNS
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  # Custom server block for keycloak.local
  keycloak.server: |
    keycloak.local:53 {
        hosts {
            {{ keycloak_service_ip }} keycloak.local
            fallthrough
        }
        whoami
    }
  # Custom server block for gitlab.gitlab.local
  # Resolve to ingress IP (10.10.1.70) so runners can clone via https://gitlab.gitlab.local:443
  gitlab.server: |
    gitlab.gitlab.local:53 {
        hosts {
            {{ ansible_host }} gitlab.gitlab.local
            fallthrough
        }
        whoami
    }
